@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --color-white: #FEFEFE;
  --color-brownie: #6A3201;
  --color-burnt-orange: #AD4402;
  --color-orange: #E88D01;
  --color-blue: #01516A;
  --color-dark-blue: #002D42;
  --color-light-blue: #277F89;
  --color-neon-yellow: #CDF400;
}

#root {
  width: 100vw;
}

/* navigation styles */
.navbar {
  font-family: "Lacquer", system-ui;
}

.navbar a {
  color: var(--color-neon-yellow);
}

